@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&display=swap");

:root {
  --background: #030712;
  --foreground: #ededed;
}
@font-face {
  font-family: "Mona Sans";
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url("../fonts/Mona-Sans.var.woff2") format("woff2");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Mona Sans", var(--font-geist-sans), -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
* {
  cursor: none !important;
}
